:root {
  --bg-color: #F3EFEC;
  --text-color: #312A4E;
  --accent-color: #FFAB6B;
  --main-font: Raleway;
  --accent-font: 'STIX Two Text';
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  min-inline-size: 360px;
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--main-font);
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

.header {
  padding-top: 10%;
}

.header__title {
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
  margin-bottom: 40px;
}

.heading {
  font-family: var(--accent-font);
  line-height: .9em;
  font-weight: 600;
  text-align: center;
}

.content {}

.content-section {
  padding: 0 5vi;
}

.content__title {
  font-size: 30px;
  margin: 7% 0 2.5%;
}

.content__text-block {
  font-size: 18px;
}
.content__paragraph {}

.content__text-block .content__paragraph {
  margin: 0 0 1.5em;
}

.content__text-block .content__paragraph:last-of-type {
  margin-bottom: 0;
}

.content__text-block_type_first-lettered .content__paragraph:first-child::first-letter {
  background-color: var(--accent-color);
  font-size: 30px;  
  font-weight: 700;
  line-height: 1.2em;
  padding: 0 4px;
  margin: 0 6px 0 0;
}

.content__figure {
  margin: 7% 0;
  width: calc(100% + 10vi);
  position: relative;
  margin-left: -5vi;
}

.content__picture-caption {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2em;
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid #312A4E;
}

.content__picture {
  width: 100%;
}

.content__link {
  cursor: pointer;
  color: currentColor;
  text-decoration: underline;
}

.content__blockquote {
  font-size: 18px;
  font-weight: 400;
  line-height: 2em;
  font-style: italic;
  padding: 0 0 1.5em;
  width: 75%;
  margin: auto;
}

.content__list {
  list-style-type: none;
  padding-inline-start: 40px;
}

.content__list-item {
  padding-bottom: 10px;
  position: relative;
}

.content__list-item:last-of-type {
  padding-bottom: 0;
}

.content__list-item::before {
  content: "";
  width: 15px;
  height: 15px;
  background-image: url(../images/marker-light.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 3px;
  left: -25px;
}

.theme_dark {}

.footer {}
